registry=https://registry.npmjs.org/
fetch-retries=6
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=180000
fetch-timeout=900000
audit=false
fund=false
progress=false
legacy-peer-deps=true
prefer-online=false
prefer-offline=false
